<div class="section-{{ section.id }} _py-12 md:_py-20{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">
    <h1 class="_text-brand-primary-700 _text-6xl _font-heading-primary">Sun Rescue That Regenerates?</h1>
    <h2 class="_text-brand-primary-700 _text-7xl _font-heading-primary _mb-3">
      <em>
        That’s Slick.
      </em>
    </h2>
    <p class="_text-lg _max-w-[540px]">
      Meet Sun Slick, your ultimate summer companion for portable sun protection with a luminous twist.
    </p>
    <div class="_mt-6 _mb-4">
      <a href="#" class="_border _border-brand-primary-700 _inline-block _px-6 _py-3.5 _uppercase _tracking-widest _bg-brand-light hover:_bg-brand-background _text-brand-primary-700 _font-semibold _text-base">
        Shop now
      </a>
    </div>

    <div class="_w-96 _flex _justify-between _border _border-brand-primary-700 _p-2 _mb-2">
      <div>
        <p class="_font-semibold _text-brand-primary-700 _text-base _mb-1">Sun Slick</p>
        <p class="_text-base">SPF 50 Mineral Sun Stick</p>
      </div>
      <div>
        <p class="_font-body-condensed _font-medium _text-brand-primary-700 _text-base">
          £32.00
        </p>
      </div>
    </div>

    <div class="_border-brand-primary-700 _border _p-2 _max-w-96">
      <p class="_font-semibold _text-brand-primary-700 _text-sm _uppercase">Elevated by Science</p>
      <p class="_font-heading-primary _text-brand-primary-700 _text-4xl"><em>Why</em> HydroPeptide</p>
      <p class="_text-sm">
        New arrivals, designed to support your skin and backed by science. New arrivals, designed to support your skin and backed by science.
        New arrivals, designed to support your skin and backed by science. New arrivals, designed to support your skin and backed by science.
      </p>
    </div>

  </div>
</div>

{% schema %}
{
 "name": "WM TEST SECTION",
 "class": "section",
 "disabled_on": {
   "groups": ["header", "footer"]
 },
 "settings": [

 ],
 "presets": [
   {
     "name": "WM TEST SECTION"
   }
 ]
}
{% endschema %}
