<div data-abtest="recently-viewed">
  <div data-abtest-var="b">
    {% render 'wm__ab-test-recently-viewed' %}
  </div>
</div>

{% schema %}
{
  "name": "WM Recently Viewed",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "WM Recently Viewed"
    }
  ]
}
{% endschema %}
