<div class="section-{{ section.id }} _py-12 md:_py-20{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  <div class="page-width">
    <h1 class="_text-brand-primary-700 _text-8xl _font-heading-primary">Sun Rescue That Regenerates?</h1>
    <h2 class="_text-brand-primary-700 _text-6xl">Testing</h2>
    <p class="_font-body-condensed _text-xl">Consendio Wingardium Leviosa</p>
    <h3>Testing</h3>
    <h4>Testing</h4>
    <p>Testing text here lorem ipsum testing text here lorem ipsum testing text here lorem ipsum testing text here lorem ipsum.</p>
    <p>URL: {{ 'avenir-next-condensed.woff' | asset_url }}</p>
  </div>
</div>

{% schema %}
{
 "name": "WM TEST SECTION",
 "class": "section",
 "disabled_on": {
   "groups": ["header", "footer"]
 },
 "settings": [

 ],
 "presets": [
   {
     "name": "WM TEST SECTION"
   }
 ]
}
{% endschema %}
