<div>
  {% render 'wm__ab-test-recently-viewed' %}
</div>

{% schema %}
{
  "name": "WM Recently Viewed",
  "tag": "section",
  "class": "section",
  "presets": [
    {
      "name": "WM Recently Viewed"
    }
  ]
}
{% endschema %}
