:root {
  /* Fixed header height used to create invisible menu/hero overlay without JS jump */
  --header-height-desktop-fixed: 110px;
}

/* --------------
  SCROLLBAR STYLE
-------------- */
._scrollbar::-webkit-scrollbar {
  height: 0.1rem;
  width: 0.1rem;
}
._scrollbar::-webkit-scrollbar-track {
  background: var(--color-brand-border);
}
._scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-brand-primary-700);
  border-radius: 0px;
}

._no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
._no-scrollbar::-webkit-scrollbar {
  display: none;
}
