/* ---------------------------
  PRODUCT-RATING COMPONENT CSS
--------------------------- */
product-rating { display: block; }
/* Hide everything until JS checks for Klaviyo reviews */
product-rating .product-rating__dynamic { display: none; }
product-rating .product-rating__fallback { display: none; }

/* If Klaviyo reviews, hide "fallback US reviews" and show Klaviyo */
product-rating.js-has-reviews .product-rating__dynamic { display: block; }
product-rating.js-has-reviews .product-rating__fallback { display: none; }

/* If Klaviyo doesn't exist, show "fallback US reviews" and hide Klaviyo */
product-rating.js-fallback-reviews .product-rating__dynamic { display: none; }
product-rating.js-fallback-reviews .product-rating__fallback { display: block; }

/* ------------------------------
  PRODUCT-RATING FALLBACK STYLING
------------------------------ */
.product--no-media .rating-wrapper {
  text-align: center;
}

.rating {
  display: inline-block;
  margin: 0;
}

.product .rating-star {
  --letter-spacing: 0;
  --font-size: 1.4;
}

.card-wrapper .rating-star {
  --letter-spacing: 0;
  --font-size: 0.8;
}

.rating-star {
  --color-rating-star: var(--color-brand-primary-500);
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) * var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  font-family: Times;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-rating-star) var(--percent),
    rgba(var(--color-foreground), 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}
