:root {
  /* Fixed header height used to create invisible menu/hero overlay without JS jump */
  --header-height-desktop-fixed: 110px;
}

/* --------------
  SCROLLBAR STYLE
-------------- */
._scrollbar::-webkit-scrollbar {
  height: 0.1rem;
  width: 0.1rem;
}
._scrollbar::-webkit-scrollbar-track {
  background: var(--color-brand-border);
}
._scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-brand-primary-700);
  border-radius: 0px;
}

._no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
._no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ----------
  MARK STYLES
---------- */
mark {
  background-color: #cfdfec;
}

/* ------------------
  UNDERLINE ANIMATION
------------------ */
/* Putting this here because it's janky to use :after in Tailwind */
/* These are flexible controls, you can use these to:
  - Trigger underline animation on a link by applying "link-underline-trigger link-underline" to same element
  - Trigger underline on group hover, e.g. <div class="link-underline-trigger"><a class="link-underline"></div>
  - Trigger every <a> inside a group by applying "link-group-underline" to parent with <a> elements
*/
.link-group-underline a,
.link-underline {
  position: relative;
  display: inline-block;
}
.link-group-underline a::after,
.link-underline::after {
  content: '';
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: currentColor;
  transition: all 0.3s;
  will-change: width;
}
/* Use this to trigger, put -trigger class on parent elements */
.link-group-underline a:hover::after,
.link-underline-trigger:hover .link-underline::after,
.link-underline-trigger:hover.link-underline::after {
  width: 100%;
}

/* ------------------
  MASK FADE TO BOTTOM
------------------ */
.mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 60%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent);
}