:root {
  /* Fixed header height used to create invisible menu/hero overlay without JS jump */
  --header-height-desktop-fixed: 110px;
}

/* --------------
  SCROLLBAR STYLE
-------------- */
._scrollbar::-webkit-scrollbar {
  height: 0.1rem;
  width: 0.1rem;
}
._scrollbar::-webkit-scrollbar-track {
  background: var(--color-brand-border);
}
._scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-brand-primary-700);
  border-radius: 0px;
}

._no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
._no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* ----------
  MARK STYLES
---------- */
mark {
  background-color: #cfdfec;
}

/* --------------------
  QUICK SHOP DRAWER CSS
-------------------- */
quick-shop-drawer {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(var(--color-foreground), 0.5);
  visibility: hidden;
}

quick-shop-drawer[open] {
  opacity: 1;
  visibility: visible;
}

.quick-shop-drawer__content {
  width: 100%;
  background-color: rgb(var(--color-background));
  overflow: hidden;
  max-width: var(--page-width);
  width: calc(100% - 2rem);
  transform: translateX(100%);
  transition: transform var(--duration-medium) ease;
  padding: 0 1em;
  overflow-y: auto;
}

quick-shop-drawer.menu-opening .quick-shop-drawer__content {
  transform: translateX(0);
}

@media screen and (min-width: 750px) {
  .quick-shop-drawer__content {
    width: 80%;
    padding: 0 2em;
    max-height: 100%;
    overflow-y: auto;
  }
}

@media screen and (min-width: 990px) {
  .quick-shop-drawer__content {
    width: 30em;
  }
}

/* ------------------
  UNDERLINE ANIMATION
------------------ */
/* Putting this here because it's janky to use :after in Tailwind */
/* These are flexible controls, you can use these to:
  - Trigger underline animation on a link by applying "link-underline-trigger link-underline" to same element
  - Trigger underline on group hover, e.g. <div class="link-underline-trigger"><a class="link-underline"></div>
  - Trigger every <a> inside a group by applying "link-group-underline" to parent with <a> elements
*/
.link-group-underline a,
.link-underline {
  position: relative;
  display: inline-block;
}
.link-group-underline a::after,
.link-underline::after {
  content: '';
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: currentColor;
  transition: all 0.3s;
  will-change: width;
}
/* Use this to trigger, put -trigger class on parent elements */
.link-group-underline a:hover::after,
.link-underline-trigger:hover .link-underline::after,
.link-underline-trigger:hover.link-underline::after {
  width: 100%;
}

/* ------------------
  MASK FADE TO BOTTOM
------------------ */
.mask-fade-bottom {
  mask-image: linear-gradient(to bottom, black 60%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent);
}