/* 
  Alex - customised component handling before/after sliders
  Because it's a class and not full web component markup, handling more with CSS than usual
*/

.beer-slider {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.beer-slider *,
.beer-slider:after,
.beer-slider :after,
.beer-slider:before,
.beer-slider :before {
  box-sizing: border-box;
}
.beer-slider img,
.beer-slider svg {
  vertical-align: bottom;
}
.beer-slider > * {
  height: 100%;
}
.beer-slider > img {
  height: auto;
  max-width: 100%;
  width: 100%;
}
.beer-reveal {
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 50%;
  top: 0;
  z-index: 1;
  border-right: 1px solid var(--color-brand-light);
}
.beer-reveal > :first-child {
  height: 100%;
  max-width: none;
  width: 200%;
}
.beer-reveal > img:first-child {
  height: auto;
}
.beer-range {
  -moz-appearance: none;
  -ms-touch-action: auto;
  -webkit-appearance: slider-horizontal !important;
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: -1px;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  touch-action: auto;
  width: calc(100% + 2px);
  z-index: 2;
}
/* .beer-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 300vh;
} */
 .beer-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 40px;
  height: 300vh;
  border: none;
}
.beer-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 300vh;
}
.beer-range::-ms-tooltip {
  display: none;
}
.beer-handle {
  background: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-brand-light);
  color: var(--color-brand-light);
  height: 48px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 48px;
  z-index: 2;
}
.beer-handle:after,
.beer-handle:before {
  border-left: 1px solid;
  border-top: 1px solid;
  content: "";
  height: 10px;
  position: absolute;
  top: 50%;
  transform-origin: 0 0;
  width: 10px;
}
.beer-handle:before {
  left: 10px;
  transform: rotate(-45deg);
}
.beer-handle:after {
  right: 0;
  transform: rotate(135deg);
}
.beer-reveal[data-beer-label]:after,
.beer-slider[data-beer-label]:after {
  content: attr(data-beer-label);
  font-size: var(--font-size-sm);
  font-family: var(--font-body-condensed);
  white-space: nowrap;
  color: var(--color-brand-light);
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  top: 1.5rem;
}
.beer-reveal.label-background[data-beer-label]:after,
.beer-slider.label-background[data-beer-label]:after {
  background-color: var(--color-brand-light);
  color: var(--color-brand-primary-700);
  padding: 0.2rem 0.3rem;
  font-size: 0.7rem;
}

.beer-slider[data-beer-label]:after {
  right: 1.5rem;
}
.beer-reveal[data-beer-label]:after {
  left: 1.5rem;
}
.beer-reveal[data-beer-label=""]:after,
.beer-slider[data-beer-label=""]:after {
  content: none;
}
.beer-ready .beer-handle,
.beer-ready .beer-reveal {
  opacity: 1;
}
