@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  ._font-heading-primary {
    font-family: theme('fontFamily.heading-primary');
    letter-spacing: -0.04rem;
  }
  ._font-body-condensed {
    font-family: theme('fontFamily.body-condensed');
  }
}