@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand-primary-700: theme('colors.brand-primary-700');
    --color-brand-primary-500: theme('colors.brand-primary-500');
    --color-brand-secondary-700: theme('colors.brand-secondary-700');
    --color-brand-background: theme('colors.brand-background');
    --color-brand-border: theme('colors.brand-border');
    --color-brand-dark: theme('colors.brand-dark');
  }
}

@layer utilities {
  ._font-heading-primary {
    font-family: theme('fontFamily.heading-primary');
    letter-spacing: -0.04rem;
  }
  ._font-heading-primary em,
  ._font-heading-primary i,
  ._font-heading-primary-italic {
    font-family: theme('fontFamily.heading-primary-italic');
    font-style: normal; /* Normalising for Safari adding double italic because of em tag */
    letter-spacing: -0.04rem;
  }
  ._font-body-condensed {
    font-family: theme('fontFamily.body-condensed');
  }
}

@layer components {
  ._button-primary {
    @apply
    _flex _items-center _justify-center _gap-3
    _tracking-wider
    _border _border-transparent
    _bg-brand-primary-700
    hover:_bg-brand-primary-500
    hover:_border-brand-primary-500
    hover:_ring-1
    hover:_ring-brand-primary-500
    _text-white
    hover:_text-white
    _transition-colors _duration-150
    _py-3
    _px-6
    _text-base
    _uppercase;
  }
}