@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand-primary-700: theme('colors.brand-primary-700');
    --color-brand-primary-500: theme('colors.brand-primary-500');
    --color-brand-secondary-700: theme('colors.brand-secondary-700');
    --color-brand-background: theme('colors.brand-background');
    --color-brand-border: theme('colors.brand-border');
    --color-brand-dark: theme('colors.brand-dark');
    --color-brand-light: theme('colors.brand-light');

    --font-size-base: theme('fontSize.base');
  }
}

@layer utilities {
  ._font-heading-primary {
    font-family: theme('fontFamily.heading-primary');
    letter-spacing: -0.04rem;
  }
  ._font-heading-primary em,
  ._font-heading-primary i,
  ._font-heading-primary-italic {
    font-family: theme('fontFamily.heading-primary-italic');
    font-style: normal; /* Normalising for Safari adding double italic because of em tag */
    letter-spacing: -0.04rem;
  }
  ._font-body-condensed {
    font-family: theme('fontFamily.body-condensed');
  }
}

@layer components {
  ._font-heading-small {
    @apply _font-semibold _tracking-wider _uppercase;
  }
  ._font-link {
    @apply _font-semibold _tracking-widest _uppercase;
  }
  ._button-primary {
    @apply
    _flex _items-center _justify-center _gap-3
    _font-semibold _text-base _uppercase _tracking-widest
    _text-brand-dark
    _bg-white hover:_bg-brand-background
    _border _border-brand-dark hover:_border-brand-dark
    _transition-colors _duration-150
    _py-4
    _px-8;
  }

  /* ._link-underline {
    @apply _relative _inline-block _text-base _font-medium;

    &::after {
      content: '';
      @apply _absolute _left-0 _-bottom-1 _w-0 _h-[1px] _bg-current _transition-all _duration-200;
    }
  }
  ._link-underline-hover::after {
    @apply _w-full;
  } */
}